---
import { Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const cardImage = await findImage(post.cardImage);
const logo = await findImage(post.logo);
const founderName = await findImage(post.founderName);
const companyName = await findImage(post.companyName);
const companyDescription = await findImage(post.companyDescription);
---

<article class="portfolio--card mb-2 relative transition">
  <div class="portfolio--image relative">
    {
      cardImage && (
        <a href={getPermalink(post.permalink, 'post')}>
          <Picture
            src={cardImage}
            class="md:object-cover"
            widths={[400, 900]}
            width={768}
            height={450}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.founderName}
            loading="lazy"
            decoding="async"
          />
        </a>
      )
    }
    <div class="portfolio--logo-container rounded-full">
      <a href={getPermalink(post.permalink, 'post')}>
      {
        logo && (
          <Picture
              src={logo}
              class="portfolio--logo"
              widths={[33, 33]}
              width={33}
              height={33}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.companyName}
              loading="lazy"
              decoding="async"
          />
        )
      }
      </a>
    </div>
  </div>
  <div class="portfolio--card-container">
    <div class="portfolio--card-content">
        <h3 class="text-xl font-bold">
        {
          BLOG?.post?.disabled ? (
            post.founderName
          ) : (
            <a
              href={getPermalink(post.permalink, 'post')}
              class="hover:text-primary transition ease-in duration-200"
            >
              {post.founderName}
            </a>
          )
        }
      </h3>
      <p class="portfolio--card-description text-xs tracking-wide"><strong>{post.companyName}</strong> — {post.companyDescription}</p>
    </div>
    <div class="portfolio--card-action">
      <a href={getPermalink(post.permalink, 'post')}>
        <Icon name="ic:outline-keyboard-arrow-right" class="portfolio--card-icon" />
      </a>
    </div>
  </div>
</article>
